# Changelog

All notable changes to this project are documented here. The format follows
[Keep a Changelog](https://keepachangelog.com/en/1.1.0/), and this project adheres to
[Semantic Versioning](https://semver.org/spec/v2.0.0.html).


## [Unreleased]

### Added

- Initial project scaffolding.


<!--
  On release, move the entries above under a dated heading and repoint the links:

      ## [{{ initial_version }}] - YYYY-MM-DD

      [Unreleased]: https://github.com/{{ github_org }}/{{ github_repo }}/compare/v{{ initial_version }}...HEAD
      [{{ initial_version }}]: https://github.com/{{ github_org }}/{{ github_repo }}/releases/tag/v{{ initial_version }}
-->

[Unreleased]: https://github.com/{{ github_org }}/{{ github_repo }}/commits/main
